// ADD NEW USER
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    h3{
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 600;
    }
    &:focus + label {
      top: -10px;
      left: 10px;
      background-color: #fff;
      color: var(--blue);
      font-weight: 600;
      font-size: 14px;
    }
    .group {
      position: relative;
      label {
        font-size: 14px;
        color: rgb(99, 102, 102);
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #fff;
        transition: all 0.3s ease;
        &:placeholder-shown {
          top: 10px;
          background-color: transparent;
        }
      }
      input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        outline: 0;
        width: 100%;
        background-color: transparent;
        &:placeholder-shown + label {
          top: 10px;
          background-color: transparent;
        }
        &:focus {
          border-color: var(--blue);
        }
        &:focus + label {
          top: -10px;
          left: 10px;
          background-color: #fff;
          color: var(--blue);
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
    button {
      background-color: var(--blue);
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--dark-blue);
      }
    }
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
