/* ---------------------------------REGISTER--------------------------------------- */
.register {
  width: 100%;
  background-color: white;
  .content__wrapper {
    padding: 80px;
    display: flex;
    justify-content: space-between;
  }
  .register__bg {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
  }
  .register__support {
    a {
      text-decoration: none;
      cursor: pointer;
      color: #f7472e;
      &:hover {
        text-decoration: none;
        color: #f7472e;
      }
    }
  }
  .register__logo {
    fill: #f7472e;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .register__logo {
    .register__logo {
      a {
        text-decoration: none;
        svg {
          g {
            fill: #f7472e;
          }
        }
      }
    }
    svg {
      width: 150px;
    }
  }
  .register__logo {
    h4 {
      color: #000;
      margin: 10px 0 0 10px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      font-size: 25px;
    }
  }
  .register__content {
    background-color: #f7472e;
    .register__left {
      margin-top: 40px;
      svg {
        width: 100%;
        fill: white;
      }
      .register__text {
        h4 {
          color: white;
          margin-top: 40px;
          text-align: center;
        }
      }
    }
    .register__right {
      .register__form {
        background-color: white;
        padding: 40px;
        width: 450px;
        border-radius: 5px;
      }
      .register__form {
        h4 {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 35px;
        }
      }
      .register__name,
      .register__email,
      .register__phone,
      .register__password {
        input {
          padding: 5px;
          width: 100%;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.248);
        }
      }
      .register__name,
      .register__email,
      .register__phone,
      .register__password {
        margin-bottom: 20px;
      }
      .register__btn {
        margin: 10px 3px;
        padding: 8px 15px;
        width: 100%;
        background-color: #f7472e;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  }
}
