.btn__submit {
  margin-left: 10px;
  color: white;
  background-color: blue;
  border: none;
  padding: 10px 15px;
}
.btn__cancel {
  border: none;
  padding: 10px 15px;

}
.select__input {
  padding: 5px 10px;
}
.name__input {
  padding: 5px 10px;
}
