.register__logo{
  a{
    text-decoration: none;
    svg{
     g{
      fill: #f7472e;
     }
    }
  }
}
.register__email{
  input{
    border-bottom: 1px solid rgba(0, 0, 0, 0.453);
    margin: 5px;
  }
}
.register__password{
  input{
    border-bottom: 1px solid rgba(0, 0, 0, 0.453);
    margin: 5px;
  }
}