/* ---------------------NAVBAR--------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  &__logo {
    &__icon {
      svg {
        width: 200px;
        fill: white;
        padding: 20px;
        margin-left: -30px;
        margin-top: -20px;
        cursor: pointer;
      }
    }
  }
  &__search {
    display: flex;
    justify-content: space-between;
    &__input {
      width: 650px;
      height: 40px;
      border: 3px solid white;
      outline: none;
    }
    &__button {
      padding: 5.5px 30px;
      color: white;
      background-color: #f7472e;
      border: 3px solid white;
      cursor: pointer;
    }
  }
  &__cart {
    &__link {
      margin-top: 50px;
      color: white;
      font-size: 25px;
      cursor: pointer;
      margin-right: 30px;
      &:hover {
        color: white;
      }
      svg {
        font-size: 35px;
        position: relative;
        top: 15px;
        right: 15px;
      }
      &__iconNumber {
        font-size: 13px;
        position: absolute;
        top: 10px;
        right: 0px;
        background-color: white;
        height: 20px;
        width: 20px;
        border-radius: 15px;
        color: #f7472e;
        border: 1px solid #f7472e;
        text-align: center;
      }
    }
  }
}
