// -------------------OPTION FORM-----------------------------
.option__btn {
	border: 2px solid var(--blue);
	background-color: var(--blue);
	border-radius: 0.9em;
	padding: 0.8em 1.2em 0.8em 1em;
	transition: all ease-in-out 0.2s;
	font-size: 16px;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   &:hover {
    background-color: var(--dark-blue);
   }
 }
 