/* -------------------------HEADER-------------------------------- */
.header {
  background-color: #f7472e;
  padding-top: 10px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: white;
    .header__connection {
      span {
        margin-left: 10px;
      }
    }
    .header__login {
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease-in;
        &:hover {
          color: white;
          opacity: 0.5;
          text-decoration: none;
        }
      }
      .header__signup,
      .header__signin {
        padding: 10px;
      }
    }
  }
}

