// REVIEW
.review__rating{
  padding: 10px 0px;
  span{
    margin-right: 10px;
  }
  input{
    width: 30px;
    height: 30px;
    padding-left: 15px;
    border: 1px solid black;
  }
}
.review__input{
  width: 90%;
  height: 20px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid black;
}
/* ----------------------ORDER------------------------------ */
.successpage {
  h2 {
    text-align: center;
  }
  .order__information {
    max-width: 50%;
    margin: auto;
    display: grid;
  }
}
// ORDER
.order {
  .order__bg {
    .order__content {
      .review__order {
        .order__react {
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}

