/* ------------------------FOOTER------------------------------ */
.footer {
  background-color: #fbfbfb;
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    .footer__menu {
      margin-top: 20px;
      .menu__item {
        list-style: none;
        a {
          text-decoration: none;
          margin-left: -40px;
          color: #030303;
          font-size: 12px;
        }
      }
      .item__qr {
        display: flex;
        justify-content: space-around;
      }
      .item__right > a {
        display: block;
      }
      .item__link > img {
        margin-bottom: 10px;
      }
    }
  }
}
