// =========================GENERATE============================
.shopee__container {
  max-width: 1024px;
  margin: auto;
}
.btn__secondary {
  margin-left: 5px;
  padding: 10px 15px;
  background-color: white;
  color: #f7472e;
  border: 1px solid #f7472e;
  cursor: pointer;
  transition: 0.4s linear;
  &:hover {
    background-color: #f7472e;
    color: white;
  }
}
.btn__primary {
  margin-left: 5px;
  background-color: #f7472e;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s eas-in;
  &:hover {
    background-color: #d32e18;
  }
}
