/* ---------------------NAVBAR--------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  .navbar__logo {
    .logo_icon {
      svg {
        width: 200px;
        fill: white;
        padding: 20px;
        margin-left: -30px;
        margin-top: -20px;
        cursor: pointer;
      }
    }
  }
  .navbar__search {
    display: flex;
    justify-content: space-between;
    .search__input {
      width: 650px;
      height: 40px;
      border: 3px solid white;
      outline: none;
    }
    .search__button {
      padding: 5.5px 30px;
      color: white;
      background-color: #f7472e;
      border: 3px solid white;
      cursor: pointer;
    }
  }
  .navbar__cart {
    a {
      color: white;
      font-size: 25px;
      cursor: pointer;
      margin-right: 30px;
      &:hover {
        color: white;
      }
      .iconNumber {
        font-size: 15px;
        position: absolute;
        top: 20px;
        right: 23px;
        background-color: white;
        height: 20px;
        width: 20px;
        border-radius: 15px;
        color: #f7472e;
        border: 1px solid #f7472e;
        text-align: center;
      }
    }
  }
}
