/* ------------------PRUCHASE------------------------ */
.purchase__title {
  display: block;
  h5 {
    color: #f7472e;
    font-weight: 400;
  }
  .address__information {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    span {
      margin-left: 20px;
    }
    button {
      border: none;
      background-color: transparent;
      span {
        color: blue;
      }
    }
  }
}
.content__text {
  span {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    height: 20px;
    transition: 0.3s linear;
    cursor: pointer;
  }
}
.purchase__payment {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
