/* -------------------------HEADER-------------------------------- */
.header {
  background-color: #f7472e;
  padding-top: 10px;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: white;
    .header__connection {
      span {
        margin-left: 10px;
      }
    }
    .header__login {
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease-in;
        &:hover {
          color: white;
          opacity: 0.5;
          text-decoration: none;
        }
      }
      .header__signup,
      .header__signin {
        padding: 10px;
      }
    }
  }
}

/* ---------------------NAVBAR--------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  .navbar__logo {
    .logo_icon {
      svg {
        width: 200px;
        fill: white;
        padding: 20px;
        margin-left: -30px;
        margin-top: -20px;
        cursor: pointer;
      }
    }
  }
  .navbar__search {
    display: flex;
    justify-content: space-between;
    .search__input {
      width: 650px;
      height: 40px;
      border: 3px solid white;
      outline: none;
    }
    .search__button {
      padding: 5.5px 30px;
      color: white;
      background-color: #f7472e;
      border: 3px solid white;
      cursor: pointer;
    }
  }
  .navbar__cart {
    a {
      color: white;
      font-size: 25px;
      cursor: pointer;
      margin-right: 30px;
      &:hover {
        color: white;
      }
      .iconNumber {
        font-size: 15px;
        position: absolute;
        top: 20px;
        right: 23px;
        background-color: white;
        height: 20px;
        width: 20px;
        border-radius: 15px;
        color: #f7472e;
        border: 1px solid #f7472e;
        text-align: center;
      }
    }
  }
}
/* -----------------------CAROUSEL----------------------------------- */
.carousel {
  margin: 10px;
  .carousel__content {
    display: flex;
    .content__left {
      .slider {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0px 20px;
        .sliderWrapper {
          img {
            width: 100%;
            height: 250px;
          }
        }
        svg:nth-child(1) {
          position: absolute;
          top: 50%;
          left: 10px;
        }
        svg:last-child {
          position: absolute;
          top: 50%;
          right: 10px;
        }
      }
    }
    .content__right {
      .carousel__ads {
        .ads__img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

/* -------------------PRODUCTLIST----------------------------- */
.productList {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px 0px;
  .product__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .product__item {
      cursor: pointer;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.3s ease;
      background: white;
      box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
      &:hover {
        box-shadow: 0 0 1px 2px #f7472e;
        border-radius: 5px;
      }
      .product__content {
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;
      }
      .product__action {
        padding: 0 20px 10px 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        .card__action {
          button {
            margin-right: 5px;
            cursor: pointer;
            transition: 0.4s linear;
            &:hover {
              background-color: #f7472e;
              color: white;
            }
          }
        }
        .btn__outline {
          background-color: white;
          color: #f7472e;
          border: 1px solid #f7472e;
          cursor: pointer;
        }
        button {
          padding: 8px 8px;
          background-color: #f7472e;
          color: white;
          border: none;
          font-size: 12px;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
// MODAL
.modal__box {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01), 0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  .box__title {
    display: flex;
    justify-content: space-between;
    button {
      background-color: transparent;
      border: none;
      margin-top: -20px;
    }
  }
  img {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
}
// DETAIL PRODUCT
.product__detail {
  margin-top: -20px;
  background-color: #f5f5f5;
  .product__bg {
    background-color: #f5f5f5;
    padding: 40px;
    .detail__content {
      background-color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      .detail__left {
        img {
          width: 100%;
          width: 448px;
          height: 450px;
        }
      }
      .detail__right {
        margin-left: 20px;
        position: relative;
        .detail__information {
          .detail__btn {
            position: absolute;
            left: 10px;
            bottom: 5px;
            .btn__outline {
              margin-top: 10px;
              background-color: white;
              color: #f7472e;
              border: 1px solid #f7472e;
              cursor: pointer;
              transition: 0.3s linear;
              &:hover {
                color: white;
                background-color: #f7472e;
              }
            }
            button {
              padding: 12px 18px;
              background-color: #f7472e;
              color: white;
              border: none;
              font-size: 15px;
              margin-right: 10px;
            }
            a {
              text-decoration: none;
              color: white;
            }
          }
          .detail__price {
            color: #f7472e;
            font-size: 30px;
            background-color: #f5f5f57e;
            padding: 20px 10px;
            margin-bottom: 20px;
            p {
              font-size: 15px;
              margin-bottom: -5px;
            }
            p:nth-child(3) {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.54);
            }
          }
          .detail__quantity {
            margin: 30px 10px;
            input {
              font-size: 15px;
              outline: none;
              width: 25px;
              height: 20px;
              padding-left: 15px;
            }
            span {
              color: #757575;
              font-size: 15px;
            }
          }
          .detail__deal {
            margin: 10px;
            font-size: 12px;
            span:nth-child(1) {
              color: #757575;
              margin-right: 10px;
            }
            span:nth-child(2) {
              color: #f7472e;
              background-color: #ffeee8;
              padding: 2px 5px;
            }
          }
        }
      }
    }
    .detail__desc {
      margin-top: -20px;
      padding: 20px 20px;
      background-color: white;
    }
    .product__review {
      margin-top: 20px;
      background-color: white;
      padding: 20px;
      .review__item {
        display: flex;
        .avatar {
          img {
            width: 100%;
            width: 50px;
          }
        }
        .review__infor {
          margin: 10px 5px;
          line-height: 30px;
        }
      }
    }
   
  }
}
.review__rating{
  padding: 10px 0px;
  span{
    margin-right: 10px;
  }
  input{
    width: 30px;
    height: 30px;
    padding-left: 15px;
    border: 1px solid black;
  }
}
.review__input{
  width: 90%;
  height: 20px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid black;
}

/* ------------------------FOOTER------------------------------ */
.footer {
  background-color: #fbfbfb;
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    .footer__menu {
      margin-top: 20px;
      .menu__item {
        list-style: none;
        a {
          text-decoration: none;
          margin-left: -40px;
          color: #030303;
          font-size: 12px;
        }
      }
      .item__qr {
        display: flex;
        justify-content: space-around;
      }
      .item__right > a {
        display: block;
      }
      .item__link > img {
        margin-bottom: 10px;
      }
    }
  }
}

/* --------------------CART-------------------- */
.cart {
  width: 100%;
  .cart__title {
    margin: 30px;
    display: flex;
    cursor: pointer;
    svg {
      fill: #f7472e;
      width: 120px;
    }
    h4 {
      margin: 10px 10px 0 20px;
    }
  }
  .cart__bg {
    background-color: #f5f5f5;
    .cart__content {
      max-width: 1024px;
      margin: auto;
      padding: 20px;
      .content__title,
      .content__text {
        display: flex;
        justify-content: space-between;
      }
      .content__text {
        padding: 20px;
        span {
          &:nth-child(2) {
            margin-left: 30px;
          }
          &:nth-child(3) {
            margin-left: 30px;
          }
        }
        input {
          width: 40px;
        }
        .btn_delete {
          border: none;
          outline: none;
          background-color: transparent;
          padding: 5px 10px;
          cursor: pointer;
          transition: 0.3s ease;
          &:hover {
            color: #f7472e;
          }
        }
      }
      .content__title {
        span {
          font-weight: bold;
        }
      }
      .content__btn {
        font-size: 15px;
        cursor: pointer;
        background-color: #f7472e;
        border: none;
        padding: 15px 30px;
        color: white;
      }
    }
  }
}
/* ------------------PRUCHASE------------------------ */
.purchase__title {
  display: block;
  h5 {
    color: #f7472e;
    font-weight: 400;
  }
  .address__information {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    span {
      margin-left: 20px;
    }
    button {
      border: none;
      background-color: transparent;
      span {
        color: blue;
      }
    }
  }
}
.content__text {
  span {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    height: 20px;
    transition: 0.3s linear;
    cursor: pointer;
  }
}
.purchase__payment {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* ----------------------ORDER------------------------------ */
.successpage {
  h2 {
    text-align: center;
  }
  .order__information {
    max-width: 50%;
    margin: auto;
    display: grid;
  }
}
/* ---------------------------------REGISTER--------------------------------------- */
.register {
  width: 100%;
  background-color: white;
  .content__wrapper {
    padding: 80px;
    display: flex;
    justify-content: space-between;
  }
  .register__bg {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
  }
  .register__support {
    a {
      text-decoration: none;
      cursor: pointer;
      color: #f7472e;
      &:hover {
        text-decoration: none;
        color: #f7472e;
      }
    }
  }
  .register__logo {
    fill: #f7472e;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .register__logo {
    svg {
      width: 150px;
    }
  }
  .register__logo {
    h4 {
      color: #000;
      margin: 10px 0 0 10px;
    }
  }
  .register__content {
    background-color: #f7472e;
    .register__left {
      margin-top: 40px;
      svg {
        width: 100%;
        fill: white;
      }
      .register__text {
        h4 {
          color: white;
          margin-top: 40px;
          text-align: center;
        }
      }
    }
    .register__right {
      .register__form {
        background-color: white;
        padding: 40px;
        width: 450px;
        border-radius: 5px;
      }
      .register__form {
        h4 {
          margin-bottom: 35px;
        }
      }
      .register__name,
      .register__email,
      .register__phone,
      .register__password {
        input {
          padding: 5px;
          width: 100%;
          outline: none;
        }
      }
      .register__name,
      .register__email,
      .register__phone,
      .register__password {
        margin-bottom: 20px;
      }
      .register__btn {
        padding: 5px 10px;
        width: 100%;
        background-color: #f7472e;
        border: none;
        color: white;
      }
    }
  }
}
// ORDER
.order {
  .order__bg {
    .order__content {
      .review__order {
        .order__react {
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
// =========================GENERATE============================
.shopee__container {
  max-width: 1024px;
  margin: auto;
}

.btn__secondary {
  margin-left: 5px;
  padding: 10px 15px;
  background-color: white;
  color: #f7472e;
  border: 1px solid #f7472e;
  cursor: pointer;
  transition: 0.4s linear;
  &:hover {
    background-color: #f7472e;
    color: white;
  }
}
.btn__primary {
  margin-left: 5px;
  background-color: #f7472e;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s eas-in;
  &:hover {
    background-color: #d32e18;
  }
}
